* {
    background-color: rgb(167, 255, 243);
}
.father {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

input {
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    color: black;
    text-align: center;
    font-family: 'Perfect DOS VGA 437', sans-serif;
    font-family: 'Perfect DOS VGA 437 Win', sans-serif;
    font-size: 16px;
}

span {
    color: red;
    padding: 10px;
    font-size: 12px;
}